<h1>Step 1 : Choose your model and color.</h1>
<div>
<label for="modelSelect">Model :</label>
<select id="modelSelect" (change)="newModelSelect($event)">
    <option disabled [selected]="!carPicked" value="noSelection">Select Model</option>
    <option *ngFor="let model of carModels" value="{{model.code}}" [selected]="model.code == prevCarCode">{{model.description}} </option>
</select>
<div *ngIf="carPicked">
    <label for="colorSelect">Color :</label>
    <select id="colorSelect" (change)="newColorSelected($event)">
        <option *ngFor="let color of colorOptions" value="{{color.code}}" [selected]="color.code == prevCarColor">{{color.description }} </option>
    </select>
    <br>
    <img [src]="imgUrl">
</div>
</div>

